
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#F5EDE4;
}

.container{
    max-width:1200px;
    margin:auto;
    padding:0 20px;
}

/* ===== HEADER ===== */
header{
    background:#2C1810;
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
    padding:20px 0;
}

header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo img{
    width: 150px;;
    height:auto;
    display:block;
}


nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    color:#fff;
    text-decoration:none;
    transition:.3s;
}

nav ul li a:hover{
    color:#D4A373;
}

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding-top:80px;

    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("fotokopi.jpeg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.hero-content h1{
    color:#D4A373;
    font-size:70px;
    margin-bottom:20px;
}

.hero-content p{
    color:#fff;
    font-size:18px;
    margin-bottom:30px;
}

/* ===== BUTTON ===== */
.btn{
    display:inline-block;
    background:#D4A373;
    color:#2C1810;
    text-decoration:none;
    padding:15px 35px;
    border-radius:30px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:#E8C49A;
    transform:scale(1.05);
}

/* ===== PRODUK ===== */
.products{
    padding:80px 0;
}

.section-title{
    text-align:center;
    font-size:40px;
    margin-bottom:40px;
    color:#2C1810;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.product-card{
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    text-align:center;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
    transition:.3s;
}

.product-card:hover{
    transform:translateY(-10px);
}

.product-image{
    height:250px;
    overflow:hidden;
}

.product-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.3s;
}

.product-card:hover img{
    transform:scale(1.1);
}

.product-card h3{
    margin:20px 0 10px;
    color:#2C1810;
}

.product-desc{
    color:#666;
    padding:0 20px 20px;
}

/* ===== JAM BUKA ===== */
.jam-buka{
    background:#3E2723;
    padding:30px 0;
}

.jam-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

   .jam-icon{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 20px;
}

.jam-text h3{
    color: #D4A373;
    margin: 0;
}

.jam-text p{
    margin: 0;
    color: white;
}

.jam-text{
    color:#fff;
}

.jam-text h3{
    color:#D4A373;
    margin-bottom:5px;
}

.jam-text p{
    line-height:1.6;
}

/* ===== FOOTER ===== */
footer{
    background:#2C1810;
    color:#fff;
    text-align:center;
    padding:25px;
}

/* ===== RESPONSIVE ===== */
@media(max-width:768px){
}

.hero-content h1{
    font-size:45px;
}

.product-grid{
    grid-template-columns:1fr;
}

header .container{
    flex-direction:column;
}

nav ul{
    margin-top:15px;
    gap:15px;
}

.jam-wrapper
    flex-direction:column;
    text-align:center;
}



    /* ===== ABOUT ===== */

.about{
    width: 80%;
    max-width: 900px;
    margin: 120px auto 50px;
    padding: 40px;
    border-radius: 15px;
}

.about h1{
    text-align: center;
    color: #2C1810;
    margin-bottom: 20px;
}

.about h2{
    color: #D4A373;
    margin-top: 30px;
}

.about img{
    width: 70%;
    max-width: 700px;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
}

.about p{
    text-align: justify;
    line-height: 1.8;
    font-size: 17px;
    color: #555;
}
.contact{
    padding: 120px 20px;
}

.contact .container{
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.contact h1{
    text-align: center;
    margin-bottom: 20px;
}

.contact input,
.contact textarea{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}

.contact button{
    background: #c89b3c;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
}